/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-dark.min.css";

nav {
    border: none;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
    cursor: pointer;
}

nav a:hover {
    color: white;
    background-color: #007;
}

nav a.active {
    background-color: #007 !important;
    color: white;
}

a.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
